{% extends 'base.html.twig' %}

{% block title %}MangAnime!{% endblock %}

{% block body %}


<main class="container-fluid">
    <div class="row paging_container">
        <div class="number_of_page_container col-lg-6 col-sm-10">
        {% for i in 1..100 %}
                <button id="page_number_{{ i }}" class="page_number" type="button" value="{{ i }}">{{ i }}</button>
        {% endfor %}
        </div>
    </div>
    <div class="container">
    {% for manga in mangas %}
        <img class="mangaPicture" src="{{ asset(manga.picture) }}">
    {% endfor %}
        
    </div>

</main>
{% endblock %}
