{% extends 'base.html.twig' %}

{% block title %}MangAnime{% endblock %}

{% block body %}


<main class="container-fluid">
    
    <div>
    <h1 class="text-center mt-5">Les mieux noté</h1>
    {% include "home/_carouselByRate.html.twig" %}
    </div>
    <div>
    <h1 class="text-center mt-5">Shonen</h1>
    {% include "home/_carouselShounen.html.twig" %}
    </div>
    <div>
    <h1 class="text-center mt-5">Decouverte</h1>
    {% include "home/_carouselRandomManga.html.twig" %}
    </div>
</main>
{% endblock %}
