{% extends 'base.html.twig' %}

{% block title %}MangAnime!{% endblock %}

{% block body %}


<main id="main">
    <div class="container">
        <div class="row card_container" id="card_container">
            
        </div>
    </div>

</main>
{% endblock %}
