{% extends 'base.html.twig' %}

{% block title %}MangAnime!{% endblock %}

{% block body %}


<main id="main" class="container-fluid">
    <div class="row paging_container">
    {% for i in 1..20 %}
        <div class="number_of_page_container col-3">
            <button id="page_number_{{ i }}" class="page_number" type="button" value="{{ i }}">{{ i }}</button>
        </div>
    {% endfor %}
    </div>
    <div class="container">
        <div class="row card_container" id="card_container">
            
        </div>
    </div>

</main>
{% endblock %}
