{% extends 'base.html.twig' %}

{% block title %}MangAnime!{% endblock %}

{% block body %}


<main class="container-fluid">
    
    <div>
    <h1 class="text-center mt-5">Les mieux noté</h1>
    {% include "home/_carousel.html.twig" %}
    </div>
    <div>
    <h1 class="text-center mt-5">Action</h1>
    {% include "home/_carouselActionGenre.html.twig" %}
    </div>
    <div>
    <h1 class="text-center mt-5">Les mieux noté</h1>
    {% include "home/_carousel.html.twig" %}
    </div>
</main>
{% endblock %}
