

$dark: #000000;
$link-light: #F2F2F2;
body {
    background-color: white;
    .card_container {
        margin-top: 15px;
        .card {
            width: 24rem;
            border: none;
            height: 30rem;
            .card-title{
                height: 2rem;
                text-align: center;
            }
            .card-img-top {
                height: 25rem;
            }
        }
    }
    
}
@import "~bootstrap/scss/bootstrap";