body {
    .details_container {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid $dark;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom: none;
        margin-top: 50px;
        .details_manga_title {
            width: 100%;
            text-align: center;
            margin-bottom: 50px ;
            background-color: $danger;
            border-bottom: 1px solid $dark;
            color: $dark;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            
        }
        .details_img_container {
            width: 350px;
            margin: 0 30px 30px 30px;
            .details_img {
                width: 350px;
                height: 450px;
                border: 1px solid $dark;
                
            }
        }
        .details {
            width: 50%;
        }
    }
    .synopsis {
        padding: 0 30px 30px 30px;
        border: 1px solid $dark;
        border-top: none;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-bottom: 50px;
        p {
            margin: 0;
        }
    }
}