body {
    .details_manga_title {
        width: 100%;
        text-align: center;
        background-color: $danger;
        border: 1px solid $dark;
        border-bottom: none;
        color: $dark;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        margin-top: 50px;
        margin-bottom: 0;
        
    }
    .details_container {
        display: flex;
        flex-wrap: nowrap;
        border: 1px solid $dark;
        border-bottom: none;
        padding: 30px 30px 0px 30px;
        .details_img_container {
            width: 350px;
            margin-right: 30px;
            .details_img {
                width: 350px;
                height: 450px;
                border: 1px solid $dark;
                
            }
        }
        .details {
            width: 40%;
        }
        .add-manga {
            border: 1px solid $primary;
            border-radius: 10px;
            padding: 10px;
            width: 30%;
            overflow-y: scroll;
            .form_manga {
                overflow: hidden;
            }
            h5 {
                text-align: center;
            }
        }
    }
    .synopsis {
        padding: 0 30px 30px 30px;
        border: 1px solid $dark;
        border-top: none;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-bottom: 50px;
        p {
            margin: 0;
        }
    }
}